# NOTE: this manifest is only compatible with Kubernetes versions >=v1.21

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cloud-controller-manager
  namespace: kube-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: yandex-cloud-controller-manager
  labels:
    k8s-app: yandex-cloud-controller-manager
  namespace: kube-system
spec:
  selector:
    matchLabels:
      k8s-app: yandex-cloud-controller-manager
  template:
    metadata:
      labels:
        k8s-app: yandex-cloud-controller-manager
    spec:
      hostNetwork: true
      dnsPolicy: Default
      serviceAccountName: cloud-controller-manager
      nodeSelector:
        # The CCM will only run on masters
        node-role.kubernetes.io/master: ""
      tolerations:
        # this taint is set on all nodes when an external CCM is used
        # so we should tolerate it to schedule our CCM
        - key: "node.cloudprovider.kubernetes.io/uninitialized"
          value: "true"
          effect: "NoSchedule"
        # CCM should be able to run on masters
        - key: "node-role.kubernetes.io/master"
          effect: "NoSchedule"
        - key: "CriticalAddonsOnly"
          operator: "Exists"
      containers:
        - image: registry.deckhouse.io/yandex-cloud-controller-manager/yandex-cloud-controller-manager:v0.21.2
          name: yandex-cloud-controller-manager
          command:
            - /bin/yandex-cloud-controller-manager
            - --cloud-provider=yandex
            - --v=3
          resources:
            requests:
              cpu: 100m
              memory: 50Mi
          env:
            - name: YANDEX_CLOUD_SERVICE_ACCOUNT_JSON
              valueFrom:
                secretKeyRef:
                  name: yandex-cloud
                  key: service-account-json
            - name: YANDEX_CLOUD_FOLDER_ID
              valueFrom:
                secretKeyRef:
                  name: yandex-cloud
                  key: folder-id
            - name: YANDEX_CLOUD_DEFAULT_LB_TARGET_GROUP_NETWORK_ID
              value: <ID>
            - name: YANDEX_CLOUD_INTERNAL_NETWORK_IDS
              value: <COMMA_SEPARATED_INTERNAL_NETWORK_IDS>
            - name: YANDEX_CLOUD_EXTERNAL_NETWORK_IDS
              value: <COMMA_SEPARATED_EXTERNAL_NETWORK_IDS>
